@import '@components/_styleUtils/colors';

.section-one {
    .svg-wrapper {
        width: 100%;
        max-width: 280px;
        margin: 0 auto;
    }
    .notebook-svg-container {
        display: block;
        width: 100%;
        padding-top: 92%;
        position: relative;
        svg {
            width: 40%;
            position: absolute;
            top: 50%;
            left: 0;
            transform-origin: center;
        }
        .notebook-svg {
            transform: translate(0, -50%);
            z-index: 3;
        }
        .notebook-note-1 {
            transform: translate(110%, -110%) rotate(-50deg);
            z-index: 2; 
        }
        .notebook-note-2 {
            transform: translate(110%, -50%) rotate(50deg);
            z-index: 1;
        }
        .notebook-note-3 {
            transform: translate(110%, 10%) rotate(50deg);
        }
        &.can-animate {
            .notebook-svg {
                z-index: 3;
                transform: translate(0, -50%);
                animation: notebook-2 .4s ease 0s 1 forwards;
            }
            .notebook-note-1 {
                transform: translate(0, -50%) rotate(0deg); 
                opacity: 0;
                animation: note1-2 0.4s ease 0.4s 1 forwards;
                z-index: 2;
                
            }
            .notebook-note-2 {
                transform: translate(0, -50%) rotate(0deg); 
                opacity: 0;
                animation: note2-2 0.4s ease 0.4s 1 forwards;
                z-index: 1;
            }
            .notebook-note-3 {
                transform: translate(0, -50%) rotate(0deg); 
                opacity: 0;
                animation: note3-2 0.4s ease 0.4s 1 forwards;
            }
            &.svgActive {
                .notebook-svg { 
                    transform: translate(0, -50%);
                    animation: notebook 2s ease 0s 1 forwards;
                }
                .notebook-note-1 { 
                    transform: translate(110%, -110%) rotate(-50deg);
                    opacity: 1;
                    animation: note1 0.5s ease 0s 1 forwards;
                }
                .notebook-note-2 { 
                    transform: translate(110%, -50%) rotate(50deg);
                    opacity: 1;
                    animation: note2 0.5s ease 0.5s 1 forwards;
                }
                .notebook-note-3 { 
                    transform: translate(110%, 10%) rotate(50deg);
                    opacity: 1;
                    animation: note3 0.5s ease 1s 1 forwards;
                }
            }
        }
    }
    
}

@media (max-width: 600px){
    .section-one {
        .svg-wrapper {
            width: 55px;
            max-width: 280px;
            margin: 0 auto;
            position: absolute;
            top: 5px;
            right: -25px;
        }
        .split-section__left {
            width: 10%;
        }
        .split-section__right {
            min-width: 90%;
        }
        .skew-block__content {
            padding: 0;
        }
        .artile-section {
            padding: 60px 16px;
        }
        .artile-section--right {
            padding-left: 50px;
        }
    }
}

@keyframes notebook {
    0% {transform: translate(0, -50%);}
    25% {transform: translate(0, -50%) scale(1.1);}
    50% {transform: translate(0, -50%) scale(1.2);}
    75% {transform: translate(0, -50%) scale(1.3);}
    100% {transform: translate(70%, -50%) scale(1.8);}
}
@keyframes note1 {
    0% {transform: translate(110%, -110%) rotate(-50deg);}
    99% {transform: translate(0, -50%) rotate(0deg); opacity: 1;}
    100% {transform: translate(0, -50%) rotate(0deg); opacity: 0;}
}
@keyframes note2 {
    0% {transform: translate(110%, -50%) rotate(50deg);}
    99% {transform: translate(0, -50%) rotate(0deg); opacity: 1;}
    100% {transform: translate(0, -50%) rotate(0deg); opacity: 0;}
}
@keyframes note3 {
    0% {transform: translate(110%, 10%) rotate(50deg);}
    99% {transform: translate(0, -50%) rotate(0deg); opacity: 1;}
    100% {transform: translate(0, -50%) rotate(0deg); opacity: 0;}
}

@keyframes notebook-2 {
    0% {transform: translate(70%, -50%) scale(1.8);}
    100% {transform: translate(0, -50%);}
}
@keyframes note1-2 {
    0% {transform: translate(0, -50%) rotate(0deg);}
    100% {transform: translate(110%, -110%) rotate(-50deg); opacity: 1;}
}
@keyframes note2-2 {
    0% {transform: translate(0, -50%) rotate(0deg);}
    100% {transform: translate(110%, -50%) rotate(50deg);  opacity: 1;}
}
@keyframes note3-2 {
    0% {transform: translate(0, -50%) rotate(0deg);}
    100% {transform: translate(110%, 10%) rotate(50deg);  opacity: 1;}
}