.note-management-svg {
	.st1{display:inline;fill:#FFFFFF;stroke:#FFFFFF;stroke-miterlimit:10;}
	.st2{display:inline;fill:#DBDBDB;}
	.st3{fill:#FF3C6A;}
	.st4{fill:#FFFFFF;}
	.st5{fill:#EA1351;}
	.st6{fill:#03A9F4;}
	.st7{fill:#00A5D1;}
	.st8{fill:#FFC83C;}
	.st9{fill:#FCBD30;}
}