@import "@components/_styleUtils/colors.scss";

.note {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
    position: relative;
    header {
        height: 40px;
        min-height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $orange-light;
        padding: 0px 15px;
        position: relative;
        .note-header-buttons {
            display: block;
            margin-left: auto;
        }
        h2 {
            margin: 0;
            color: #fff;
            font-size: 18px;
            letter-spacing: 0.4px;
        }
    }
    &__content {
        flex-grow: 1;
        overflow: hidden;
    }
    form {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 650px){
    .note {
        header {
            flex: 0 0 40px;
        }
        &__content {
            display: flex;
        }
        form {
            width: 100%;
            height: auto;
            flex: 1 1 100%;
        }
    }
}