@import '../_styleUtils/colors.scss';

.input {
    width: 100%;
    font-size: 16px;
    padding: 5px;
    border: 1px solid $grey;
    &:focus {
        outline: none;
        border-color: $blue;
        box-shadow: 0 0 2px 0 $blue;
    }
    &--border-bottom {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $grey;
        padding: 5px 0 2px;
        &:focus {
            outline: none;
            border-color: $blue;
            box-shadow: 0 2px 2px -2px $blue;
        }
    }
}