.mtoolbar {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    button.save-indicator-button  {
        display: inline-flex;
        width: auto;
        border: none;
        background: #f3f3f3;
        padding: 4px 12px;
        margin-left: auto;
    }
}