@import '@components/_styleUtils/colors.scss';

.hero {
    display: flex;
    align-items: center;
    min-height: 550px;
    background-color: $pink;
    position: relative;
    color: #fff;
    overflow: hidden;
    // &:before {
    //     display: block;
    //     content: '';
    //     background-image: url('./main-bg.svg');
    //     background-repeat: repeat;
    //     background-size: 100px 100px;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     bottom: 0;
    //     right: 0;
    //     z-index: 0;
    //     opacity: 0.15;
    // }
    &__content {
        width: 100%;
        max-width: 550px;
        margin: 0 auto 120px;
        padding: 12px;
        .type {
            color: #fff;
        }
        h2 {
            font-size: 34px;
        }
        h3 {
            font-size: 20px;
        }
        h4 {
            font-size: 18px;
        }
        position: relative;
        z-index: 1;
    }
    &__phone {
        width: 230px;
        position: absolute;
        top: 55%;
        left: calc(50% - 600px);
        transform: translateY(-50%) rotate(-30deg);
    }
    &__computer {
        width: 575px;
        position: absolute;
        top: 55%;
        left: calc(50% + 300px);
        transform: translateY(-50%);
    }
}


@media (max-width: 1280px) {
    .hero {
        &__content {
            max-width: 400px;
        }
        &__phone {
            width: 200px;
             left: calc(50% - 450px);
        }
        &__computer {
            width: 500px;
            left: calc(50% + 200px);
        }
    }
}

@media (max-width: 1080px) {
    .hero {
        &__content {
            max-width: 400px;
        }
        &__phone {
            width: 160px;
            left: 4%;
            top: 70%;
            transform: translateY(-50%) rotate(-20deg);
        }
        &__computer {
            left: 79%;
        }
    }
}

@media (max-width: 700px) {
    .hero {
        align-items: flex-start;
         min-height: 500px;
        &__content {
            margin: 0 auto 120px;
            h2 {
                font-size: 24px;
            }
            h3 {
                font-size: 18px;
            }
            h4 {
                font-size: 16px;
            }
            position: relative;
            z-index: 1;
        }
        &__phone {
            width: 105px;
            left: 11%;
            top: 79%;
            z-index: 1;
        }
        &__computer {
            width: 330px;
            top: 69%;
            left: 55%;
        }
    }
}