.multi-select-header {
    $blue: #289dfc;
    background-color: $blue;
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease 0.2s;
    &__content {
        background-color: $blue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        height: 40px;
        transform: translateX(10px);
        opacity: 0;
        transition: opacity 0.3s ease , transform 0.3s ease;
    }
    &.animate-in {
        transition: opacity 0.3s ease;
        opacity: 1;
        .multi-select-header__content {
            transition: opacity 0.3s ease 0.2s, transform 0.3s ease 0.2s;
            opacity: 1;
            transform: translateX(0px);
        }
    }
    &__group {
        vertical-align: center;
    }
    .deselect-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        height: 35px;
        width: 35px;
        padding: 0;
        color: #fff;
        font-size: 20px;
    }
    // .multi-select-header-btn {
    //     border-radius: 4px;
    //     display: inline-block;
    //     border: 1px solid #fff;
    //     background-color: $blue;
    //     padding: 3px 10px;
    //     color: #fff;
    //     &:first-of-type {
    //         margin-right: 10px;
    //     }
    // }
}