.main-btn {
    border: 1px solid darken($orange, 5%);
    border-radius: 2px;
    background-color: $orange;
    display: inline-block;
    padding: 5px 16px;
    color: #fff;
    transition: background-color 0.25s ease;
    i {
        margin-right: 3px;
    }
    cursor: pointer;
    &:hover {
        background-color: darken($orange, 5%);
    }
}