@import '@components/_styleUtils/colors';

.section-three {
    .svg-container {
        width: 100%;
    }
    .note-management-svg {
        display: block;
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
    #note-1 {transform: translate(76%, 14%) scale(0.8);}
    #note-2 {transform: translate(-37%, 47%);}
    #note-3 {transform: translate(-37%, -49%);
    }
    .svgActive {
        #note-1 {animation: moveNote1 2s ease 0s 1 forwards;}
        #note-2 {animation: moveNote2 2s ease 0s 1 forwards;}
        #note-3 {animation: moveNote3 2s ease 0s 1 forwards;}
    }
}

@media (max-width: 600px){
    .section-three {
        .svg-container {
            position: absolute;
            top: 10px;
            left: 2px;
        }
        .note-management-svg {
            max-width: 55px;
        }
        .split-section__left {
            width: 10%;
        }
        .split-section__right {
            min-width: 90%;
        }
        
        .artile-section {
            padding: 60px 16px;
        }
        .artile-section--right {
            padding-left: 50px;
        }
    }
}

@keyframes moveNote1 {
    0% {transform: translate(76%, 14%) scale(0.8);}
    100% {transform: translate(0, 0) scale(1);}
}

@keyframes moveNote2 {
    0% {transform: translate(-37%, 47%);}
    100% {transform: translate(0,0);}
}

@keyframes moveNote3 {
    0% {transform: translate(-37%, -49%) scale(1);}
    100% {transform: translate(18%, 13%) scale(0.8);}
}