@import '@components/_styleUtils/colors.scss';

.text-editor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    height: 100%;
    &__main-content {
        padding:  0 12px 12px;
        overflow: scroll;
        .ql-editor {
            padding: 0;
            font-size: 14px;
            &.ql-blank::before {
                left: 0;
            }
        }
    }
    .ql-toolbar.mtoolbar {
        border: none;
        border-bottom: 1px solid $grey;
    }
    .quill .ql-container {
        border: none;
    }
    &__top {
        padding: 6px;
    }
}