.scroll-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: #f6f6f6;
    .static-content {
        position: relative;
    }
    .scroll-content {
        flex-grow: 1;
        overflow: scroll;
        padding: 30px 0;
        position: relative;
    }
}