    @import '@components/_styleUtils/colors';
    
    .skew-block {
        height: 100%;
        width: 100%;
        position: relative;
        &__content {
            display: flex;
            height: 100%;
            align-items: center;
            padding: 45px 50px 45px 16px;
            position: relative;
        }
        &__overflow-container {
            position: absolute;
            top: 0;
            right: -50px;
            left: 0;
            bottom: 0;
            overflow: hidden;
        }
        &__background-color {
            background-color: $grey;
            position: absolute;
            top: 0;
            right: 50px;
            bottom: 0;
            left: -100%;
            &--blue {
                background-color: $blue;
            }
            &--pink {
                background-color: $pink;
            }
            &--yellow {
                background-color: $yellow;
            }
        }
        &--flip {
            .skew-block__overflow-container {
                right: 0;
                left: -50px;
                .skew-block__background-color {
                    right: -100%;
                    left: 50px;
                }
            }
            .skew-block__content {
                padding: 45px 16px 45px 50px;
            }
        }
    }