@import '@components/_styleUtils/colors.scss';

.text-card-section {
    display: flex;
    align-items: center;
    padding: 48px 16px;
    background-color: $blue;
    position: relative;
    &__content {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        padding: 45px 30px;
        background-color: #fff;
        border-radius: 4px;
        position: relative;
        z-index: 1;
    }
    ul {
        padding-left: 20px;
    }
    li {
        color: #5f5f5f;
    }
}

@media (max-width: 700px) {
    .hero {
        align-items: flex-start;
        &__content {
            padding: 30px 16px;
            h2 {
                font-size: 24px;
            }
            h3 {
                font-size: 18px;
            }
            h4 {
                font-size: 16px;
            }
            position: relative;
            z-index: 1;
        }
    }
}