@import '../_styleUtils/colors.scss';

.list-item {
    padding: 8px;
    position: relative;
    background-color: transparent;
    color: $default-text;
    &--with-button {
        padding: 0;
    }
    &--with-secondary {
        padding-right: 50px;
    }
    &--secondary {
        color: $link-blue;
        &:hover {
            color: $secondary-dark;
        }
    }
    &-button {
        display: block;
        border: none;
        padding: 8px;
        background-color: transparent;
        transition: background-color 0.2s;
        width: 100%;
        text-align: left;
        color: inherit;
        cursor: pointer;
        &:focus {
            box-shadow: none;
            text-decoration: underline;
        }
    }
}