*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

button {
    cursor: pointer;
    background-color: transparent;
}
button:focus {
    outline: none;
    box-shadow: 0 0 3px 1px $secondary-dark;
}