@import '@components/_styleUtils/colors.scss';
@import '@components/_styleUtils/properties.scss';

.notebook-form {
    padding: 0 15px;
    h3 {
        font-weight: 500;
        font-size: 18px;
        margin-top: 0;
    }
    form {
        border-radius: 4px;
        border: $card-border;
        display: block;
        width: 100%;
        height: 40px;
        overflow: hidden;
        input {
            display: inline-block;
            border: none;
            width: calc(100% - 100px);
            height: 100%;
            vertical-align: top;
            &:focus {
                outline: none; 
                box-shadow: inset 0 0 0 2px $secondary ;
            }
        }
        button {
            border-radius: 0;
            border: none;
            font-size: 24px;
            height: 100%;
            width: 100px;
            &:focus {
                box-shadow: inset 0 0 0 2px $secondary;
                outline: none;
            }
        }
        .error-msg {
            display: block;
            color: $red;
            font-size: 14px;
        }
    }
}