@import '../_styleUtils/colors.scss';

.list-item-link {
    display: block;
    padding: 8px;
    position: relative;
    background-color: transparent;
    color: $default-text;
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover {
        color: $secondary;
    }
    &--secondary {
        color: $link-blue;
    }
    &--with-secondary {
        padding-right: 50px;
    }
    & > a {
        display: block;
        color: inherit;
        &:hover {
            color: inherit;
        }
        &:focus {
            outline: none;
            text-decoration: underline;
        }
    }
}