@import '@components/_styleUtils/colors.scss';
@import '@components/_styleUtils/properties.scss';
  
.notebook-link {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: $box-shadow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 5px 10px;
    color: $default-text;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    &::after{
        display: inline-block;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: $orange;
        width: 3px;
        opacity: 0;
        transition: opacity 0.25s ease;
    }
    &:focus {
        outline: none;
        box-shadow: $focus-box-shadow;
    }
    &:hover::after {
        opacity: 1;
    }
    button {
        border: none;
        color: #ccc;
        height: 32px;
        width: 32px;
        cursor: pointer;
        transition: color 0.25s ease;
        &:focus {
            outline: none;
            box-shadow: none;
            color: $secondary-dark;
        }
        &:hover {
            color: $blue;
        }
    }
}