@import '@components/_styleUtils/colors';
@import '@components/_styleUtils/properties.scss';

.note-preview-card {
    background-color: #fff;
    border-radius: 4px;
    display: block;
    box-shadow: $box-shadow; 
    padding: 0;
    color: $default-text;
    position: relative;
    &::after {
        border-radius: 0px 0px 4px 4px;
        border-top: 2px solid #fff;
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0px;
        right: 0px;
        height: 4px;
        background-color: $blue;
        margin: 0 auto;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    &.multi-select-active {
        &::after {
            opacity: 1;
        }
        &:hover {
            .multi-select-btn::after {
                opacity: 1;
            }
        }
    }
    h3 {
        color: inherit;
        margin: 0 0 20px;
        font-size: 16px;
        min-height: 18px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    p {
        min-height: 16px;
        color: inherit;
        margin: 0;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__content {
        padding: 0px 15px 30px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2px;
        margin-bottom: 10px;
        .drawer-btn {
            border-radius: 4px;
            background-color: transparent;
            border: none;
            height: 30px;
            width: 30px;
            padding: 0;
            color: $grey-dark;
            font-size: 20px;
            z-index: 1;
            margin-left: auto;
            &:hover {
                color: $orange;
            }
        }
        .multi-select-btn {
            border-radius: 4px;
            border: none;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 30px;
            padding: 0;
            position: relative;
            &:focus {
                box-shadow: none;
                &::before {
                    box-shadow: $focus-box-shadow;
                }
            }
            &:hover::after {
                opacity: 1;
            }
            &::before {
                display: inline-block;
                border: 1px solid $grey;
                border-radius: 100%;
                content: '';
                width: 18px;
                height: 18px;
            }
            &::after {
                display: inline-block;
                background-color: $blue;
                border-radius: 100%;
                content: "";
                font-size: 12px;
                width: 20px;
                height: 20px;
                position: absolute;
                transform: scale(0.5);
                opacity: 0;
                transition: opacity 0.35s ease, transform 0.35s ease;
            }
            &.active {
                &::before {
                    border-color: $blue;
                }
                &::after {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }
    &__drawer {
        border-radius: 4px;
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #efefef;
        padding: 15px 0 15px;
        opacity: 0;
        transition: opacity 0.25s ease;
        z-index: 2;
        &.display {
            display: block;
        }
        &.active {
               opacity: 1; 
            }
        .drawer-item {
            background-color: transparent;
            border: none;
            width: 100%;
            font-size: 16px;
            margin-bottom: 10px;
            padding: 5px 15px;
            text-align: inherit;
            position: relative;
            cursor: pointer;
            &::after {
                border-bottom: 1px solid $grey;
                content: '';
                position: absolute;
                top: 100%;
                right: 15px;
                left: 15px;
            }
           
        }
        .close {
            background-color: #fff;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            height: 30px;
            width: 30px;
            padding: 0;
            border: 1px solid $grey;
            position: absolute;
            bottom: calc(100% - 20px);
            right: calc(0px - 8px);
            color: $orange;
            transform: translateY(8px);
            transition: transform 0.3s ease 0.1s;
            cursor: pointer;
            z-index:2;
            &:focus {
                outline: none;
                box-shadow: 0 0 3px 0 $blue;
            }
        }
        &.active {
            .close {
                transform: translateY(0px);
            }
        }
    }
}
