@import '@components/_styleUtils/colors';

.section-two {
    .svg-container {
        min-width: 100%;
    }
    .rich-text-note-svg {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 200px;
        #block-4,
        #ul-1,
        #ul-2,
        #ul-3,
        #ul-4,
        #blockquote {
            opacity: 0;
            animation: unDisplayLine 0.5s ease 0s 1 forwards;
        }
    }
    .svgActive {
        .rich-text-note-svg {
            #block-4 {animation: displayLine 0.4s ease 0s 1 forwards;}
            #ul-1 {animation: displayLine 0.4s ease 0.2s 1 forwards;}
            #ul-2 {animation: displayLine 0.4s ease 0.4s 1 forwards;}
            #ul-3 {animation: displayLine 0.4s ease 0.6s 1 forwards;}
            #ul-4 {animation: displayLine 0.4s ease 0.8s 1 forwards;}
            #blockquote {animation: displayLine 0.4s ease 1s 1 forwards;}
        }
    }
}

@media (max-width: 600px){
    .section-two {
        .svg-container {
            position: absolute;
            top: 10px;
            left: -14px;
        }
        .rich-text-note-svg {
            display: inline-block;
            width: 45px;
            margin: 0;
        }
        .split-section__right {
            width: 10%;
        }
        .split-section__left {
            min-width: 90%;
        }
        .skew-block__content {
            padding: 0;
        }
        .artile-section {
            padding: 60px 16px;
        }
        .artile-section--left {
            padding-right: 50px;
        }
    }
}

@keyframes displayLine {
    0% {opacity: 0; transform: translateY(10%);}
    100% {opacity: 1; transform: translateY(0%);}
}

@keyframes unDisplayLine {
    0% {opacity: 1; transform: translateY(0%);}
    100% {opacity: 0; transform: translateY(10%);}
}