@import '@components/_styleUtils/colors';
@import '@components/_styleUtils/properties.scss';

.left-main-nav {
    background-color: $orange;
    display: inline-block;
    max-width: 120px;
    width: 100%;
    padding: 0 0 20px;
    position: relative;
    &__nav-section {
        display: block;
        margin-bottom: 20px;
        width: 100%;
        &:last-of-type {
            margin-bottom: 0;
        }
        a,
        button {
            border: none;
            display: block;
            width: 100%;
            margin: 0;
            padding: 8px 8px 8px 26px;
            color: #fff;
            font-size: 14px;
            position: relative;
            text-align: left;
            &:focus,
            &:hover {
                outline: none;
                box-shadow: none;
                text-decoration: underline;
                border-right: 3px solid #fff;
            }
            i {
                display: inline-block;
                margin-right: 3px;
                position: absolute;
                top: 10px;
                left: 8px;
            }
            &.offset-icon {
                i {
                    font-size: 12px;
                    &:nth-of-type(2) {
                        top: 13px;
                        left: 11px;
                        opacity: 0.45;
                    }
                }
            }
            &.active {
                border-color: $primary-darker;
                color: $primary-darker;
                i {
                    border-color: $primary-darker;
                    color: $primary-darker;
                }
            }
        }
        .current-notebook-link {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
                i {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    height: 16px;
                    width: 16px;
                    border-radius: 50%;
                    border: 1px solid #fff;
                    top: 8px;
                    font-size: 10px;
                }
        }  
    }
    &__mobile-nav {
            display: none;
        }
    .back-btn-placeholder {
        display: block;
        min-height: 40px;
        padding:5px 0 0;
    }
    .nav-footer {
        border-top: 1px solid $orange-light;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 10px 0px 10px;
    }
}

@media  (max-width: 650px){
    .left-main-nav { 
        display: flex;
        align-items: center;
        order: 2;
        width: 100%;
        max-width: initial;
        padding: 8px 15px;
        z-index: 10;
        &__nav-section {
            display: none;
        }
        .nav-footer {
            display: none;
        }
        &__mobile-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .nav-icons {
                border: none;
                border-radius: 50%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                min-height: 40px;
                min-width: 40px;
                color: #fff;
                position: relative;
                &:hover {
                    outline: none;
                    text-decoration: none;
                    border-right: inital;
                }
                &:focus {
                    outline: none;
                    box-shadow: $focus-box-shadow_primary-dark;
                }
                &.selected {
                    border: 2px solid #fff;
                }
                &.active {
                    border-color: $primary-darker;
                    color: $primary-darker;
                }
                &--offset i{
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    transform: translate(50%, -50%);
                    &:first-of-type {
                        top: calc(50% + 4px);
                        right: calc(50% - 4px);
                        opacity: 0.45;
                    }
                }
            }
        }
        .back-btn-placeholder {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-height: 40px;
            min-width: 40px;
            padding:0;
        }
    }
}