@import '@components/_styleUtils/colors';
@import '@components/_styleUtils/properties.scss';

.button-main {
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: $base-bg;
    padding: 3px 10px;
    color: $default-text;
    font-size: 16px;
    transform: translateY(0);
    will-change: background-color;
    transition: background-color 0.25s ease;
    &:hover {
        background-color: darken($base-bg, 10%);
    }
    &:focus {
        outline: none;
        box-shadow: $focus-box-shadow;
    }
    &:first-of-type {
        margin-right: 10px;
    }
    &:only-of-type {
        margin-right: 0;
    }
    i,svg {
        color: $primary;
        fill: $primary;
    }
    &--size-sm {
        font-size: 12px;
    }
    &--size-lg {
        font-size: 16px;
        padding: 6px 16px;
    }
    &--icon-start {
        i,svg {
            margin-right: 4px;
        }
    }
    &--icon-end {
        i,svg {
            margin-left: 4px;
        }
    }
    &--bg-primary {
        background-color: $primary;
        color: $text-on-primary;
        &:hover {
            background-color: darken($primary, 10%);
        }
        i,svg {
            color: $text-on-primary;
            fill: $text-on-primary;
        }
    }
    &--bg-primary-light {
        background-color: $primary-light;
        color: $text-on-primary-light;
        &:hover {
            background-color: darken($primary-light, 10%);
        }
        i,svg {
            color: $text-on-primary-light;
            fill: $text-on-primary-light;
        }
    }
    &--bg-secondary {
        background-color: $secondary;
        color: $text-on-secondary;
        &:hover {
            background-color: darken($secondary, 10%);
        }
        i,svg {
            color: $text-on-secondary;
            fill: $text-on-secondary;
        }
    }
    &--bg-secondary-light {
        background-color: $secondary-light;
        color: $text-on-secondary-light;
        &:hover {
            background-color: darken($secondary-light, 10%);
        }
        i,svg {
            color: $text-on-secondary-light;
            fill: $text-on-secondary-light;
        }
    }
    &--loading {
        position: relative;
        color: transparent;
    }
    &__loading {
        background: transparent;
        border-radius: 50%;
        box-shadow: 12px 0px 0 2px #fff,
        -12px 0px 0 2px #fff;
        content: "";
        display: inline-block;
        height: 2px;
        width: 2px;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%) rotate(0deg);;
        animation: buttonMainSpinner 2s ease infinite forwards;
    }
}

@keyframes buttonMainSpinner {
    0% {box-shadow: 12px 0px 0 2px #fff, -12px 0px 0 2px #fff; transform: translate(50%, -50%) rotate(0deg);}
    20% {box-shadow: 4px 0px 0 2px #fff, -4px 0px 0 2px #fff; transform: translate(50%, -50%)  rotate(0deg);}
    80% {box-shadow: 4px 0px 0 2px #fff, -4px 0px 0 2px #fff; transform: translate(50%, -50%) rotate(360deg);}
    100% {box-shadow: -12px 0px 0 2px #fff, 12px 0px 0 2px #fff; transform: translate(50%, -50%)  rotate(360deg);}
}