@import '@components/_styleUtils/properties';
@import '@components/_styleUtils/colors';

.card {
    background: #fff;
    box-shadow: $box-shadow;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
    margin: 0 auto;
    text-align: center;
}