.split-section {
    display: flex;
    &__left,
    &__right {
        width: 100%;
        max-width: 50%;
        position: relative;
        .skew-block__content,
        .artile-section {
            max-width: 500px;
        }
    }
    &__left {
        .skew-block__content,
        .artile-section {
            margin-left: auto;
            margin-right: 0;
        }
    }
    &__right {
        .skew-block__content,
        .artile-section {
            margin-left: 0;
            margin-right: auto;
        }
    }
}
