.secondary-action {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0 8px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    // &--light {
    //     svg {
    //         fill: #fff;
    //     }
    // }
    // &--disabled {
    //     cursor: not-allowed;
    // }
    // &--first {
    //     padding-left: 16px;
    // }
    // &--last {
    //     padding-right: 16px;
    // }
    svg {
        display: block;
        width: 28px;
        height: auto;
    }
}