.modal-container {
    $orange: #ffa100;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2);
    transition: opacity 0.3s ease;
    will-change: opacity;
    opacity: 0;
    z-index: 1000;
    .modal-interface {
        border-top: 30px solid $orange;
        margin-top: 20vh;
        margin-bottom: 40px;
        border-radius: 4px;
        display: inline-block;
        background-color: #fff;
        width: 100%;
        max-width: 500px;
        padding: 30px 15px;
        transform: translateY(50px);
        will-change: transform;
        transition: transform 0.3s ease;
        header {
            padding: 15px;
            border-bottom: 1px solid #ddd;
        }
        > article {
            padding: 15px;
            border-bottom: 1px solid #ddd;
        }
        footer {
            padding: 15px;
            text-align: right;
        }
    }
}

.modal-container {
    &.active {
        opacity: 1;
        .modal-interface {
            transform: translateY(0px);
        }
    }
}
