@import "@components/_styleUtils/colors";

.loading-bar {
    width: 100%;
    height: 12px;
    position: relative;
    overflow: hidden;
    &::before {
        content: "";
        width: 200%;
        background: linear-gradient(-90deg, $primary, $secondary, $primary, $secondary, $primary);  
        top: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        transform: translateX(0%);
        animation: loadingBarSlide 2s linear infinite forwards;
    }
}

@keyframes loadingBarSlide {
    0% {transform: translateX(0%) }
    100% {transform: translateX(50%)}
}