@import '@components/_styleUtils/colors';
@import '@components/_styleUtils/properties.scss';

.main-header {
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    .main-logo {
        color: orange;
        display: inline-block;
        margin: 0;
        &::after {
            content: "(demo)";
            font-size: .4em;
        }
        a {
            color: inherit;
            &:focus {
                outline: none;
                text-decoration: underline;
            }
        }
        @media (max-width: 600px) {
            font-size: 24px;
        }
    }
    nav {
        display: inline-block;
        a {
            display: inline-block;
            color: $primary;
            margin-left: 5px;
            padding: 5px;
            &:focus {
                outline: none;
                text-decoration: underline;
            }
            &:hover {
                color: $primary-dark;
            }
        }
    }
    .icon-link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 37px;
        width: 37px;
        font-size: 24px;
        &:hover {
            color: $primary-dark;
        }
        &:focus {
            outline: none;
            box-shadow: $focus-box-shadow;
        }
    }
}