input {
    width: 100%;
    font-size: 16px;
    padding: 5px;
    border: 1px solid $grey;
}
textarea {
    width: 100%;
    font-size: 16px;
    padding: 5px;
    border: 1px solid $grey;
    min-height: 100px;
    resize: none;
}

label {
    display: block;
    margin-bottom: 3px;
}

.form-card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 15px;
    text-align: center;
    h2 {
        color: orange;
        margin-top: 0;
    }
}

.form-item {
    margin-bottom: 10px;   
    text-align: left; 
}

.error {
    input {
        border-color: $red;
    }
}
.error-msg {
    color: $red;
    font-size: 12px;
}

.form-btn {
    border: 1px solid darken($orange, 5%);
    border-radius: 2px;
    background-color: $orange;
    display: inline-block;
    padding: 5px 16px;
    color: #fff;
    transition: background-color 0.25s ease;
    i {
        margin-right: 3px;
    }
    cursor: pointer;
    &:hover {
        background-color: darken($orange, 5%);
    }
}
.form-btn-container {
    text-align: right;
}

@media (min-width: 500px){

}