.modal-container {
    display: flex;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .25s ease;
    &.active {
        opacity: 1;
        .modal {
            transform: translateY(0px);
            opacity: 1;
        }
    }
}

.modal {
    border-top: 30px solid $orange;
    margin-top: 20vh;
    margin-bottom: 40px;
    border-radius: 4px;
    display: inline-block;
    background-color: #fff;
    width: 100%;
    max-width: 500px;
    padding: 30px 15px;
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: transform 0.3s ease 0.2s, opacity 0.2s ease 0.2s;
    b {
        font-weight: 700;
    }
}

.modal-close {
    border-radius: 4px;
    border: 1px solid #fff;
    position: absolute;
    top: -25px;
    right: 15px;
    color: #fff;
    font-size: 14px;
    background-color: $orange;
    cursor: pointer;
    transition: background-color 0.25s ease;
    &:hover {
        background-color: darken($orange, 5%);
    }
}

.modal-btn-container {
    text-align: right;
}