.note-list {
    padding: 0 15px;
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -5px;
        margin-right: -5px;
    }
    &__note-container {
        display: inline-block;
        padding: 0 5px;
        width: 33.33%;
        margin-bottom: 15px;
        &:focus {
            outline: none;
            .note-preview-card {
                outline: none;
                box-shadow: $focus-box-shadow;
            }
        }
    }
}

@media (max-width: 650px){
    .note-list__note-container {
        width: 50%;
    }
}