.save-indicator-button { 
    $green: #45d332;
    border: none;
    border-radius: 16px;
    display: inline-flex;
    background: #f3f3f3;
    color: #aaa;
    padding: 4px 12px;
    font-size: 12px;
    position: relative;
    &__check {
        display: inline-block;
        height: 1em;
        width: 1em;
        transform: rotate(45deg);
        position: relative;
        transition: inherit;
        top: -2px;
        &::after,
        &::before {
            border-radius: .09375em;
            content: '';
            display: inline-block;
            width: .25em;
            height: 100%;
            background-color: #aaa;
            position: absolute;
            bottom: 0;
            right: 0;
              transition: inherit;
        }
        &::after {
            width: .55em;
            height: .25em;
        }
    }
    &--hidden {
        visibility: hidden;
        opacity: 0;
    }
    &--active {
        animation: colorChange 2s ease 0s 1 forwards;
        .save-indicator-button__check {
            animation: checkIN 1s ease 0s 1 forwards;
            &::after,
            &::before {
                animation: bgColorChange 2s ease 0s 1 forwards;
            }
        }
    }
}

 @keyframes checkIN {
        0% {opacity: 0; transform: scale(1.5) rotate(45deg) translate(3px, -3px);}
        1% {opacity: 1; transform: scale(1.5)rotate(45deg) translate(3px, -3px);}
        20% {opacity: 1; transform: scale(1.5)rotate(45deg) translate(3px, -3px);}
        65% {transform: scale(0.85) rotate(45deg) translate(0, 0);}
        80% {transform: scale(1) rotate(45deg);}
        100% {transform: scale(1) rotate(45deg);}
    }

@keyframes bgColorChange {
    0% {background-color: #45d332}
    65% {background-color: #45d332}
    100% {background-color: #aaa}
}

@keyframes colorChange {
    0% {color: #45d332;}
    65% {color: #45d332}
    100% {color: #aaa;}
}