    .view-header {
        $orange: #ffa100;
        $blue: #289dfc;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: lighten($orange, 20%);
        padding: 0px 15px;
        margin: 0;
        position: relative;
        h2 {
            margin: 0;
            color: #fff;
            font-size: 18px;
            letter-spacing: 0.4px;
            font-weight: 500;
            max-width: 50%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipse;
        }
    }