@import '@components/_styleUtils/colors';

.type-h1 {
    font-size: 36px;
}
.type-h2 {
    font-size: 32px;
}
.type-h3 {
    font-size: 24px;
}
.type-h4 {
    font-size: 20px;
}
.type-h5 {
    font-size: 16px;
}
.type-h6 {
    font-size: 14px;
}
.type-p {
    font-size: 16px;
}

.type {
    color: #5f5f5f;
    margin-top: 0;
    margin-bottom: .75em;
    &--lg-copy {
        font-size: 18px;
    }
    &--body-copy {
        font-size: 16px;
    }
    .type-h1 {
    font-size: 36px;
    }
    &--like-h2 {
        font-size: 32px;
    }
    &--like-h3 {
        font-size: 24px;
    }
    &--like-h4 {
        font-size: 20px;
    }
    &--like-h5 {
        font-size: 16px;
    }
    &--like-h6 {
        font-size: 14px;
    }
    &--like-p {
        font-size: 16px;
    }
    &--like-lg-copy {
        font-size: 18px;
    }
    &--like-body-copy {
        font-size: 16px;
    }
}