$primary: #ffb300;
$primary-light: #ffc766;
$primary-dark: #d88c11;

$secondary: #03a9f4;
$secondary-light: #67daff;
$secondary-dark: #007ac1;

$default-text: #333;

$text-on-primary: #fff;
$text-on-primary-dark: $text-on-primary;
$text-on-primary-light: $default-text;

$text-on-secondary: #fff;
$text-on-secondary-dark: $text-on-secondary;
$text-on-secondary-light: $default-text;

$base-bg: #fff;
$base-bg-dark: #ccc;

$link-blue: #03a9f4;

$grey: #ddd;
$grey-dark: #aaa;
$orange: #ffa100;
$orange-light: #FEC66E;
$red: #ff0000;
$blue: #03a9f4;
$pink: #FF3C6A;
$yellow: #FFC83C;