@import '@components/_styleUtils/colors.scss';

.bg-repeated {
    background-color: $pink;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    &:before {
        display: block;
        content: '';
        background-image: url('./main-bg.svg');
        background-repeat: repeat;
        background-size: 100px 100px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
        opacity: 0.15;
    }
    &--pink {
        background-color: $pink;
    }
    &--blue {
        background-color: $blue;
    }
}