@import './colors.scss';


$box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.3);
$focus-box-shadow: 0 0 3px 1px $secondary-dark;
$focus-box-shadow_primary-dark: 0 0 3px 1px $primary-darker;
$card-border: 1px solid #ddd;