.content-section {
    display: block;
    padding: 1px 0;
    .inner-content {
        display: block;
        margin-top: 49px;
        margin-bottom: 49px;
        padding-right: 15px;
        padding-left: 15px;
        &--no-mt {
            margin-top: 0;
        }
    }
}