.site-constraint {
    position: relative;
}

.main-content {
    height: calc(100vh - 60px);
    min-height: calc(568px - 60px);
    display: flex;
}

.right-main-content {
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: scroll;
}

.view-container {
    display: flex;
    height: 100%;
}

@media  (max-width: 650px){
    .main-content {
        height: calc(100vh - 60px);
        display: flex;
        flex-direction: column;
    }

    .right-main-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        // height: 100%;
        flex: 1;
        // height: calc(100vh - 120px);
    }

    .view-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        flex: 1;
    }

}